*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

body {
    background-color: black;
}

/* #reagion debug */

.debug #app_header {
    background-color: beige;
}

/* #endreagion debug */

/* #reagion header */
#app_header {
    height: 10vh;
}

.view {
    position: absolute;
    right: 0;
}

.view ul {
    list-style: none;
    line-height: 10vh;
}

.view li {
    display: inline;
    padding-right: 1rem;
}

/* #endreagion header */
