
/* #region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --zoom-white:white;
    --zoom-black:black;
}

.container {
    width: 90%;
    margin: auto;
}

.d-flex {
    display: flex;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

#app_main {
    background-color: aquamarine;
    height: 100vh;
    margin-top: 5vh;
}

/* #endregion common */


/* #region debug */

.debug .box_video{
    background-color: rgb(244, 1, 1);
    height: 5rem;
    border: 1px solid black;
}


/* #endregion debug */


/* #region header */
#app_header {
    height: 5vh;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    background-color: var(--zoom-black);
}

.view {
    position: absolute;
    right: 0;
}
.fa-table-cells {
    text-decoration: navajowhite;
}
.view ul {
    list-style: none;
    line-height: 5vh;
}

.view li {
    display: inline;
    padding-right: 1rem;
}

.view a {
    color: var(--zoom-white);
}

/* #endregion header */

/* #region main */
.box.video{
    width: calc(100% / 7);
}

.row {
    flex-wrap: wrap;
}
.img_video {
    position: relative;
}
img {
    max-width: 100%;
}

.name_team {
    position: absolute;
    bottom: 4px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.663);
    color: white;
}
/* #endregion main */


